

@import './_variables.scss';

// Override Bootstrap defaults.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Override the Boostrap primary color to a shade of purple.
// This needs to be set first before loading Bootstrap.
$theme-colors: (
  primary: $american-flag-blue,
  danger: $american-flag-red
);

@import '~bootstrap/scss/bootstrap';


* {
    box-sizing: border-box;
}

html {
    // Set this explicitly so that we can use REM units.
    // 1 REM is 18 pixels.
    font-size: 18px;
}

#homeview-images {
    align-items: center;
    display: flex;
    flex-direction: row;
    img {
        height: 30%;
        margin: 1rem 1rem 1rem 1rem;
        width: 30%;
    }
    justify-content: center;
    margin: 0 auto;
    width: 50%;

}

.nav__buttons {
    border-radius: 1rem; 
    display: flex;
    flex-direction: row; 
    justify-content: center;
    input {
        margin: 2rem 1.5rem 0 1.5rem;  
    }
}

.options__nav-buttons {
    align-items: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

form {
    // Center our forms.
    margin: 0 auto;   
    width:45%;
}

.container__border {
    border: .2rem solid $american-flag-red;
    border-radius: 1rem;     
    padding: .5rem;  
}

#status-notification-message-area {
    background-color: $american-flag-blue;
    color: $american-flag-white;
    font-size: 1.25rem;
    margin: .5rem auto 1.5rem auto;
    max-height: 20%;
    min-height: 20%;
    text-align: center;
    width: 70%;
}

.language-choice {
    align-items: center;
    display: flex;
    justify-items: center;
    input[type=radio] {
        margin: 0 1rem 0 0;
    }
    input[type=button] {
        margin-left: 2rem;
    }
    margin-bottom: 2rem;
    width: 70%;
}

// Styles the Cyrillic keyboard as a whole.
.cyrillic-soft-keyboard {
    border: .2rem solid $american-flag-red;
    border-radius: 1rem;      
    margin: 1.5rem auto;
    padding: 1rem;     
    width: 60%;
}

// Styles a single row in the Cyrillic keyboard.
.cyrillic-soft-keyboard-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 60%;
     
}

// Styles each key of the Cyrillic keyboard.
.cyrillic__button {
    margin: .2rem;
    max-height: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;

    // The enter key in Russian is 4 letters, so it needs to be
    // wider.
    &.enter-key {
        max-width: 5rem;
        min-width: 5rem;        
    }
}
